/* Yes TODOs should likely stay in the html. They're more for myself than anything, and it doesn't matter if anyone reads it. */
TODO {
	display: none;
}

code {
	display: block;
	white-space: pre-wrap;
}